*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f7f9;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 15px rgba(15, 9, 9, 0.356);
    padding: 20px;
    width: 80%;
    /* max-width: 500px; */
    height: 50vh;
    overflow-y: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container:hover{
    box-shadow: 0 0 10px 15px rgba(70, 80, 90, 0.356);
}

h1{
    color: #333;
    font-size: 24px;
    margin-bottom: 30px;
}

#inputTask{
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.btnsDiv{
    display: flex;
    gap: 10px;
}

button{
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
    transition: 1s;
}

button:hover{
    background-color: #4cae4c94;
}

button:hover:focus{
    background-color: rgba(255, 0, 0, 0.808);
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-grow: 1;
}

li{
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li #inputTask{
    margin-right: 10px;
}

li button{
    background-color: #d9534f;
    margin: 0;
}

li button:hover{
    background-color: #c9302c;
}







/* Responsive Code Starts */

@media only screen and (max-width: 768px){
    .container{
        box-shadow: 0 0 100px 15px rgba(226, 57, 57, 0.356);
    }
    
    .btnsDiv{
        display: grid;
        row-gap: 1px;
    }

    .container{
        width: 60%;
        max-width: 800px;
    }

    button{
        background-color: rgb(25, 65, 177);
        color: white;
        transition: 1s;
    }

    button:hover{
        background-color: rgba(184, 92, 135, 0.808);
    }

    button:hover:focus{
        background-color: rgba(255, 0, 0, 0.808);
    }
}

/* Responsive Code ends */